<header>
  <div class='container'>
    <nav>
      <ul class = "nav">
        <li><%= link_to "Users", users_path, class: 'nav-link' %></li>
        <li><%= link_to "Posts", posts_path, class: 'nav-link' %></li>
      </ul>
    </nav>
  </div>
</header>
  